* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  font-size: 40px;
  border: 1px solid;
  background-color: lightgray
}

.nav-link {
  text-align: center;
}

h2 {
  text-align: center;
  border: 1px solid;
}

#table {
  background-color: whitesmoke;
  border: 1px solid;
  text-align: center;
}

td {
  border: solid 1px;
}
